mat-card {
    height: calc(100% - 50px);
    width: calc(100% - 50px);
    margin: auto;
    overflow-y: auto;
}

mat-card-content {
    overflow-x: auto;
}

#card-content p {
    white-space: pre-line;
}

.start-scene {
    background-color: #DDF0DE;
}

.mat-caption {
    text-align: center;
}

.top-right {
    text-align: right;
    margin-top: -10px;
}

.interactive {
    position: relative;
    width:24px; height:24px;
    transition: color 0.25s;
}

.interactive:hover {
    cursor: pointer;
    color: #AAAAAA;
}