<mat-card>
  <mat-card-title-group>
    <mat-card-title id="card-title">
      Scene #{{scene.id}}: {{scene.header}}
    </mat-card-title>
    <mat-card-subtitle id="card-subtitle" *ngIf="scene.links.length > 0">
      Linked to Scene(s) {{getLinkedSceneIds()}}
    </mat-card-subtitle>
    <div class="top-right">
      <mat-icon 
        id="edit-button"
        class="interactive" aria-label="Edit button"
        (click)="editScene()">edit</mat-icon>
      <mat-icon 
        id="delete-button"
        class="interactive" aria-label="Delete button"
        (click)="deleteScene()">delete</mat-icon>
    </div>
  </mat-card-title-group>
  <mat-card-content id="card-content">
    <p>{{scene.description}}</p>
  </mat-card-content>
</mat-card>