mat-card {
    margin-top: 15px;
}

mat-card-content {
    word-break: break-all;
}

.mat-caption {
    text-align: center;
}

.top-right {
    float: right;
    margin-top: -10px;
}

.interactive {
    position: relative;
    width:24px; height:24px;
    transition: color 0.25s;
}

.interactive:hover {
    cursor: pointer;
    color: #AAAAAA;
}