<div>
  <h2 mat-dialog-title style="float: left;">
  {{editMode ? 'Edit Scene' : 'Add Scene'}}
  </h2>
  <h2 mat-dialog-title style="float: right;">
    <button 
      id="set-as-start-scene-button"
      *ngIf="editMode"
      mat-raised-button color="accent" 
      (click)="setAsStartScene()" [disabled]="!inputIsValid() || isCurrentStartScene()">Set as Start Scene</button>
  </h2>
  <br style="clear: both;" />
</div>
<div mat-dialog-content>
  <mat-form-field class="full-width">
    <input
      id="header-input"
      matInput placeholder="Header" [(ngModel)]="sceneHeader">
  </mat-form-field>
  <mat-form-field class="full-width">
    <textarea 
      id="description-textarea"
      matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="8" 
      placeholder="Description" [(ngModel)]="sceneDescription"></textarea>
  </mat-form-field>
  <div class="full-width">
    <p class="image-label">Image</p>
    <input
      id="image-input" 
      type="file" (change)="fileChanged($event)" class="image-input" accept="image/*">
    <img 
      id="image-preview"
      *ngIf="sceneImageData !== ''" src="{{sceneImageData}}" height="100" />
  </div>
  <div 
    *ngIf="editMode"
    id="links-section">
    <h3 mat-dialog-title *ngIf="sceneLinks.length > 0">Links</h3>
    <mat-list *ngIf="sceneLinks.length > 0">
      <mat-list-item *ngFor="let link of sceneLinks">
        <seeya-link
          class="full-width link" [link]="link" 
          (linkEditedEvent)="editLink($event)" 
          (linkRemovedEvent)="removeLink($event)"></seeya-link>
      </mat-list-item>
    </mat-list>
    <div class="align-right small-spacing">
      <button 
        id="add-link-button"
        mat-raised-button color="accent" 
        (click)="addLink()">Add Link</button>
    </div>
  </div>
</div>
<div mat-dialog-actions class="align-right">
  <button 
    id="cancel-button"
    mat-raised-button
    (click)="cancel()">Cancel</button>
  <button 
    id="add-scene-button"
    *ngIf="!editMode"
    mat-raised-button color="accent" 
    (click)="addScene()" [disabled]="!inputIsValid()">Add Scene</button>
  <button 
    id="edit-scene-button"
    *ngIf="editMode"
    mat-raised-button color="accent" 
    (click)="editScene()" [disabled]="!inputIsValid()">Save</button>
</div>