h3 {
    margin-bottom: 0px;
}

mat-list {
    max-height: 300px;
    overflow-y: auto;
    padding: 0px;
    border: 1px solid #DADADA;
    margin-bottom: 15px;
}

.form {
    margin-top: 15px;
}

.full-width {
    width: 100%;
}

.align-right {
    text-align: right;
    display: block;
}

.small-spacing {
    padding-bottom: 5px;
}

.half-width-left {
    width: 50%;
    text-align: left;
}

.half-width-right {
    width: 50%;
    text-align: right;
}