<div
    id="game-container"
    *ngIf="currentScene != null">
    <seeya-scene [scene]="currentScene"></seeya-scene>

    <div class="align-right spacing">
        <button 
            id="next-scene-button"
            *ngIf="currentScene.link != null" 
            mat-raised-button 
            (click)="loadNextScene(currentScene.link.toSceneId)">
            To Scene: {{currentScene.link.toSceneId}}
        </button>
        <button 
            id="play-again-button"
            *ngIf="currentScene.link === null" 
            mat-raised-button color="accent"
            (click)="restartGame()">
            Play Again
        </button>
    </div>
</div>