<div id="game-container" *ngIf="currentScene != null">
  <seeya-scene [scene]="currentScene"></seeya-scene>

  <div class="align-right spacing">
    <span
      *ngIf="currentScene.links.length > 0">
      <button
        *ngFor="let link of visibleLinks()"
        class="next-scene-button"
        mat-raised-button
        (click)="loadNextScene(link.toSceneId)">
        {{link.displayText}}
      </button>
    </span>
    <button
      id="play-again-button"
      *ngIf="visibleLinks().length === 0"
      mat-raised-button color="accent"
      (click)="restartGame()">
      Play Again
    </button>
  </div>
</div>
