<h2 class="mat-title">Welcome to Seeya!</h2>

<p class="mat-body-1">Seeya is a framework that allows you to build and play custom Choose Your Own Adventure games!</p>

<p class="mat-body-1">The Generator is where you'll be able to create your own Choose Your Own Adventure games. You can create Scenes that Link to each other, which are then exported into your very own Game!</p>

<p class="mat-body-1">Once you have created your Game, or have an export of someone else's Game, you can take it to the Runner, which will let you play through the Game! You'll progress from Scene to Scene, until you reach an ending of the Game.</p>

<p class="mat-body-1">So please, have fun, and enjoy Seeya!</p>