<h2 class="mat-headline">Welcome to Seeya!</h2>

<p class="mat-body-2">Seeya is a framework that allows you to build and play custom 'Choose Your Own Adventure' Games! Take a look at these brief
  instructions to learn how to use it.</p>

<h3 class="mat-title">Generator</h3>

<p class="mat-body-2">The Generator is where you'll be able to create your Games.</p>
<ul class="mat-body-1">
  <li>You can create Scenes that Link to each other, which are then exported into your very own Game.</li>
  <li>Each Scene can Link to any number of other Scenes, but it cannot Link to itself, and cannot Link to the same Scene more
    than once.</li>
  <li>When you're done with your Game, or if you'd like to save your progress and return later, you can export your Game.</li>
  <li>To load an existing Game and continue creating it, simply use the Import Existing Game dialog.</li>
</ul>

<h3 class="mat-title">Runner</h3>

<p class="mat-body-2">Once you have created your Game, or have an export of someone else's Game, you can take it to the Runner.</p>
<ul class="mat-body-1">
  <li>To import an existing Game, simply use the Import Game dialog.</li>
  <li>Once a Game has been imported, it will begin immediately.</li>
  <li>For each Scene, you will see the description of the Scene, and the Links to other Scenes that make up your choices for
    how to proceed.</li>
  <li>When you make it to a Scene that does not Link to any other Scene, you've reached an ending of the Game! You'll be able
    to play the Game again, or import a new Game.</li>
</ul>

<p class="mat-body-2">We hope you have fun creating and exploring your very own Seeya Games!</p>
